

{% extends "KLtestBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block kltest_body %}

  <h2>Liste des users</h2>

  <ul>
    {% for user in listUsers %}
      <li>
        <a href="{{ path('kl_users_view', {'id': user.id}) }}">
          {{ user.nom }}
        </a>
      </li>
    {% else %}
      <li>Pas (encore !) d'users</li>
    {% endfor %}
  </ul>
  
<a href="{{ path('kl_users_add') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-add"></i>
      Créer un user
    </a>

{% endblock %}